<div class ="red"><%= flash_messages %></div>

<h1>Your Sent Messages</h1>

<table id="hor-minimalist-b">


<% @messages.each do |message| %>
  <tr>

    <td><b><%= truncate(message.subject, :length => 20) %></b> - <%=h truncate(message.body, :length => 90) %></td>   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_user_message_path(current_user) %>