<p>
  <b>Name:</b>
  <%=h @video.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @video.description %>
</p>
<%= flashobject_tag "/videos/"+@video.name, :size => "940x540", :background_color => "#000000" %>

