<p>
  <b>Name:</b>
  <%=h @video.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @video.description %>
</p>
<%= flashobject_tag "/videos/"+@video.name, :size => "648x480", :background_color => "black" %>

