<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
  <head>  
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  

<body> 
<p> 
Hi,
</p>
<p>
Just to let you know a new Soldier has joined the unit.
</p>
<p>

<p>
<%= @soldier.primary.firstname %>
Relationship
Email
Phone
</p>
<p>
If the Soldier has a local spouse please be sure to welcome her into the Unit.
</p>
</body> 
</html>