<p>Welcome to FRGCMS (Family Readiness Group, Contact Management System)!
</p>	
A battalion admin has placed you as a User in the FRGCMS.<br /> 
<p>
Click the url below to activate your account!
<br />
 <%= @account_activation_url %>
<br />
</p>
<p>
 If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
</p>
<p>
Getting started in FRGCMS is very simple. Please contact your Commander or FRSA to find out more information about the initial setup of Soldiers in your battalion. 
</p>
<p>
Step 1: To watch the FRGCMS training videos visit http://www.frgcms.com/videos to watch quick, simple training videos.	
</p>
<p>
Step 2: Go to "edit your Company profile."  Here you should add a training room NCO to the Company admin users. They will be an important part in keeping your information up-to-date. ***IMPORTANT*** Go to "Add a Platoon" under "edit your company profile" and add your Company platoons. Soldiers will need to be assigned to a platoon and if there are no platoons when they are placed in the system they will be "unassigned" and require that you go back and update that later.	
</p>
<p>
Step 3: Enforce good information. The system is only as good as the information in it. Encouraging Soldiers to put correct information is crucial. Married Soldiers should put their parents or contact of choice as an "Additional Contact"	
</p>
<p>

</p>
If you have any questions please contact your FRSA.  If you still have a question or problem email help@frgcms.com.