<p>Welcome to FRGCMS (Family Readiness Group, Contact Management System)!
</p>	
A battalion admin has placed you as a User in the FRGCMS.<br /> 
<p>
Click the url below to activate your account!
<br />
 <%= @account_activation_url %>
<br />
</p>
<p>
 If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
</p>
<p>
Getting started in FRGCMS is very simple. To learn more about using FRGCMS visit http://www.frgcms.com/videos to watch quick, simple training videos. Once the Company sets up your Company platoons you will be able to add one POC per platoon. That POC will have read-only access to their platoon. Not the rest of the company. Changes they need made should be put in by an FRG Leader, the Training Room NCO or another FRGCMS admin.
</p>
<p>

</p>
If you have any questions please contact your FRSA. If you still have questions email help@frgcms.com.