<p>Welcome to FRGCMS (Family Readiness Group, Contact Management System)!
</p>	
A battalion admin has placed you as a User in the FRGCMS.<br /> 
<p>
Click the url below to activate your account!
<br />
 <%= @account_activation_url %>
<br />
</p>
<p>
 If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
</p>
<p>
Getting started in FRGCMS is very simple. Please contact your Commander or FRSA to find out more information about the initial setup of Soldiers in your battalion. 
</p>
<p>
To learn more about using FRGCMS visit http://www.frgcms.com/videos to watch quick, simple training videos.
</p>
If you have any questions please contact help@frgcms.com.

