<p>Welcome to FRGCMS (Family Readiness Group, Contact Management System)!
</p>	 
<p>
Click the url below to activate your account!
<br />
 <%= @account_activation_url %>
<br />
</p>
<p>
 If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us at help@frgcms.com.
</p>
<p>
Getting started in FRGCMS is very simple.
<p>
Step 1: To learn more about using FRGCMS visit http://www.frgcms.com/videos to watch quick, simple training videos.
</p>
<p>
Step 2: As the Battalion FRSA you will most likely manage the Battalion profile, this is the dashboard you land at when you sign on (go ahead and activate your account and sign in). You need to assign the correct users to the Battalion. To do this simply fill out the form as you see it. It is important to place the Company level users (Company Commander, 1SG and FRG Leader) in the system. No Soldier can be added to that Company until this is complete. An Inactive User signals that the User has not activated their account.
</p>
<p>
Step 3: Placing Soldiers in the system is easy. Initially the Battalion will need to set up a day to enter a large number of Soldiers. This can be accomplished by using a classroom in a place like an education center or be pushed down to the Company level. Soldiers should fill out their own form. It is also very important they fill it out with correct information, the system is only as good as the information in it. 
</p>
</p>
<p>
Watching the training videos at http://www.frgcms.com/videos is very helpful. If you still have questions please contact help@frgcms.com.
</p>
