<p>Welcome to FRGCMS (Family Readiness Group, Contact Management System)!
</p>	
A company admin has placed you as a POC in the FRGCMS.<br /> 
<p>
Click the url below to activate your account!
<br />
 <%= @account_activation_url %>
<br />
</p>
<p>
If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
</p>
<p>
To learn more about using FRGCMS visit http://www.frgcms.com/videos to watch quick, simple training videos.
</p>
<p>
If you have any questions contact your FRG Leader. 
</p>
